<div class="card">
  <div class="card-body">
    <form [formGroup]="adicionarcustomerForm">
      <div class="col-md-9 col-md-offset-3">

        <!-- INÍCIO BLOCO: Nome do Funcionário -->
        <div class="form-group">
          <label>Nome</label>
          <input type="text" class="form-control" formControlName="nomecustomer" #nomecustomer>
        </div>
        <div *ngIf="adicionarcustomerForm.controls['nomecustomer'].invalid
              && (adicionarcustomerForm.controls['nomecustomer'].dirty
              || adicionarcustomerForm.controls['nomecustomer'].touched)" class="alert alert-danger">
          <div *ngIf="adicionarcustomerForm.controls['nomecustomer'].errors.required">
            O campo 'Nome' é obrigatório.
          </div>
        </div>
        <!-- FIM BLOCO: Nome do Funcionário -->

        <!-- INÍCIO BLOCO: Email -->
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" formControlName="email" #email>
        </div>
        <div *ngIf="adicionarcustomerForm.controls['email'].invalid
              && (adicionarcustomerForm.controls['email'].dirty
              || adicionarcustomerForm.controls['email'].touched)" class="alert alert-danger">
          <div *ngIf="adicionarcustomerForm.controls['email'].errors.required">
            O campo 'Email' é obrigatório.
          </div>
        </div>
        <!-- FIM BLOCO: Email -->

        <!-- INÍCIO BLOCO: Endereço 1 -->
        <div class="form-group">
          <label>CEP Endereço Residencial</label>
          <input type="text" class="form-control" formControlName="endereco1" #email maxlength="8" digitOnly>
          <label>Logradouro</label>
          <input type="text" class="form-control" formControlName="logradouro" #logradouro readonly>
          <label>Complemento</label>
          <input type="text" class="form-control" formControlName="complemento" #complemento readonly>
          <label>Bairro</label>
          <input type="text" class="form-control" formControlName="bairro" #bairro readonly>
          <label>Localidade</label>
          <input type="text" class="form-control" formControlName="localidade" #localidade readonly>
          <label>UF</label>
          <input type="text" class="form-control" formControlName="uf" #uf readonly>
        </div>
        <div *ngIf="adicionarcustomerForm.controls['endereco1'].invalid
    && (adicionarcustomerForm.controls['endereco1'].dirty
    || adicionarcustomerForm.controls['endereco1'].touched)" class="alert alert-danger">
          <div *ngIf="adicionarcustomerForm.controls['endereco1'].errors.required">
            O campo 'CEP Endereço Residencial' é obrigatório.
          </div>
        </div>
        <!-- FIM BLOCO: Endereço 1 -->

        <!-- INÍCIO BLOCO: Endereço 2 -->
        <div class="form-group">
          <label>CEP Endereço Comercial</label>
          <input type="text" class="form-control" formControlName="endereco1" #email maxlength="8" digitOnly>
          <label>Logradouro</label>
          <input type="text" class="form-control" formControlName="logradouro" #logradouro readonly>
          <label>Complemento</label>
          <input type="text" class="form-control" formControlName="complemento" #complemento readonly>
          <label>Bairro</label>
          <input type="text" class="form-control" formControlName="bairro" #bairro readonly>
          <label>Localidade</label>
          <input type="text" class="form-control" formControlName="localidade" #localidade readonly>
          <label>UF</label>
          <input type="text" class="form-control" formControlName="uf" #uf readonly>
        </div>
        <div *ngIf="adicionarcustomerForm.controls['endereco1'].invalid
    && (adicionarcustomerForm.controls['endereco1'].dirty
    || adicionarcustomerForm.controls['endereco1'].touched)" class="alert alert-danger">
          <div *ngIf="adicionarcustomerForm.controls['endereco1'].errors.required">
            O campo 'CEP Endereço Comercial' é obrigatório.
          </div>
        </div>
        <!-- FIM BLOCO: Endereço 2 -->

        <div class="form-group">
          <button (click)="adicionarcustomer(nomecustomer.value, cargo.value, numeroIdentificador.value)"
            class="btn btn-primary" [disabled]="adicionarcustomerForm.pristine || adicionarcustomerForm.invalid">
            <fa name="plus"></fa> Add
          </button>
        </div>

      </div>
    </form>
  </div>
</div>